/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* barra de navegacion */

/* .inicio{
    position: relative;
    overflow: hidden;
    height: 100%;
} */

*{
    text-decoration: none;
}

body{
    background-color: #1e1c2a;
}

section{
    padding: 3.5rem 0 3rem;
}

.navbar{
    padding: 1rem;
    background-color: transparent;
    position: relative;
}

.navbar a{
    font-family: 'Rubik', sans-serif;
    color: #1e1c2a;
}

.navbar a:hover{
    color: #F25C05;
}


.navbar-collapse {
    align-items: center;
    text-align: center;
    justify-content: space-around;


}

/* inicio */
.inicio{
    height: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.video-bg{
    position: absolute;
    top: 0;
    left: 0;
}

/* hero-principal */
.hero{
    margin-top: 250px;
}

/* about */
.about-img img{
    border-radius: 3rem 0 3rem 3rem;
    width: 90%;
    height: 90%;
}

.about-text span{
    font-size: 1rem;
    font-weight: 500;
    color: #fffbfb;
}

.about-text h2 {
    color: #F25C05;
}

.about-text p {
    color: white;
}

.about-text a {
    background-color: #F25C05;
    border-color: transparent;
}

.about-text a:hover {
    background-color: white;
    color: #1e1c2a;
    border-color: transparent;
}

.hero h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 5rem;
}

.hero p{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

form{
    background-color: white;
    width: 600px;
    height: 55px;
    display: flex;
}

form input{
    flex: 1;
    border: none;
    outline: none;
}

form button{
    background-color: ;
    padding: ;
}


/* propiedades grid */

.tarjetas{
}

.propiedades h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.badge{
    background-color: #F25C05;
    position: absolute;
    margin: 20px;
    display: block;
}

.button-propiedades{
    text-align: center;
    align-items: center;
    margin: 30px;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}





/* card -slide */


.cards-coments{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1e1c2a;
}

.cards-coments h1{
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.slide-container{
    max-width: 1420px;
    width: 100%;
    background-color: #1e1c2a;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;

}

.card-slide{
    border-radius: 25px;
    background-color: #fff;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F25C05;
    border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #F25C05;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #F25C05;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background: #1e1c2a ;
}

.swiper-navBtn{
    color: #6e93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 0;
}

.swiper-button-prev{
    left: 0;
}

/* novedades */
.video-novedades{
    width: 800px;
}

.contenido{
    color: white;
}

.contenido h1{
    color: #F25C05;
}

/* footer */

footer{
    margin-top: 50px ;
}
.pie-pagina{
    width: 100%;;
}

.pie-pagina img{
    width: 60%;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.box h2{
    color: #F25C05;
}

.box p {
    color: white;
}

.pie-pagina .grupo-2{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.red-social a{
    color: white;
    font-size: 40px;
    margin: 10px;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 400px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (min-width: 700px) {
    
}
